
.card-largura{
  width: 18rem;
}
#quem-sou{
    background-color: #468b64;
}

.navbar{
    background-color: #0c4424;
    position: fixed;
}
.texto-nav{
  color: #d9a454;
}

.font{
  color: #beaa8e;
}


.fonte-titulo{
    font-family: 'Cinzel', serif;
}

.fonte-titulo-carrossel{
  font-family: 'Cinzel', serif;
  color: #0c4424;
}

.cor-especial{
    color : #0c4424;
}
.img-brenda{
  width:254px;
  height:453px;
  object-fit:cover;
  object-position:50% 50%
}
.botao-cor-especial{
    background-color: #0c4424;
    color: white;
}

.borda-cor-especial{
    border-color: #0c4424;
}
.card-posicao-imagem{
    object-fit: cover;
    object-position: 0 80%;
    height: 200px;
    
}
.card-posicao-especial{
  object-fit: cover;
  object-position: 0 -5%;
  height: 200px;
}
.zoom{
  overflow: hidden;
}
.feedback{
  background-color:#77d9bb;
}
.feedback-dois{
  background-color:#8fe0c8;
}
.feedback-tres{
  background-color:#a9e7d5;
}
.icon-brenda{
  font-size:36px;
  color:#0c4424;
}
.icone-orcamento{
  font-size:36px;
  color:#0c4424;
}
.icon-pdf{
  font-size:48px;
  color: #0c4424;
}
.what{
  font-size:48px;
}
.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: #0c4424;
    border-radius: 1rem;
    border-color: #0c4424;
  }
  .divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
  }
  .divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
  }
  .divider-custom .divider-custom-icon {
    color: #0c4424;
    font-size: 2rem;
  }
  .divider-custom.divider-light .divider-custom-line {
    background-color: #fff;
  }
  .divider-custom.divider-light .divider-custom-icon {
    color: #fff;
  }
  .page-section {
    padding: 6rem 0;
  }
  .imagem{    
    border-radius: 10px;
    border:solid 1px #0c4424;
    box-shadow: 0 0 1em #0c4424;
  }
  .container-imagem{
    position: relative;
  }
  .btn-gold{
    background-color: #d9a454;
    color: #fff;
    font-family: 'Cinzel', serif;
    font-size: large;
  }
  .cor-icone{
    color: #d9a454;
  }
  .footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #468b64;
    color: #fff;
  }
  .copyright {
    background-color: #0c4424;
    
  }