.header {
  position: fixed;
  top: 0;
}

section#quem-sou{
    background-color: #468b64;
}
.navbar{
    background-color: #0c4424;
    position: fixed;
}
 
.imagem-carrossel
{
  height: auto;
  width: 100%;
}

.imagem-carrossel-dois
{
  height: auto;
  width: 100%;
}
.imagem-youtube
{
  height: 400px;
  width: 100%;
}

.fonte-titulo{
    font-family: 'Josefin Sans', sans-serif;
}

.fonte-titulo-carrossel{
  font-family: 'Josefin Sans', sans-serif;
  color: #0c4424;
}

.cor-especial{
    color : #0c4424;
}

.botao-cor-especial{
    background-color: #0c4424;
    color: white;
}

.borda-cor-especial{
    border-color: #0c4424;
}

.card-posicao-imagem{
    object-fit: cover;
    object-position: 0 80%;
    height: 200px;
    
}
.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: #0c4424;
    border-radius: 1rem;
    border-color: #0c4424;
  }
  .divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
  }
  .divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
  }
  .divider-custom .divider-custom-icon {
    color: #0c4424;
    font-size: 2rem;
  }
  .divider-custom.divider-light .divider-custom-line {
    background-color: #fff;
  }
  .divider-custom.divider-light .divider-custom-icon {
    color: #fff;
  }
  .page-section {
    padding: 6rem 0;
  }

  .icon-wahts{
    
  }

  .footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #468b64;
    color: #fff;
  }
  .copyright {
    background-color: #0c4424;
    
  }