hr{
    width: 100px;
    align-content: center;
}
section#quem-sou{
    background-color: #468b64;
}
.navbar{
    background-color: #0c4424;
}
.card-largura{
    max-width: 18rem;
}
.imagem-carrossel
{
  height: 600px;
  width: 100%;
}


.imagem-carrossel-dois
{
  height: auto;
  width: 100%;
}

.fonte-titulo{
    font-family: 'Josefin Sans', sans-serif;
}

.fonte-titulo-carrossel{
  font-family: 'Josefin Sans', sans-serif;
  color: #0c4424;
}

.cor-especial{
    color : #0c4424;
}

.botao-cor-especial{
    background-color: #0c4424;
    color: white;
}

.borda-cor-especial{
    border-color: #0c4424;
}

.card-posicao-imagem{
    object-fit: cover;
    object-position: 0 80%;
    height: 200px;
    
}

.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .divider-custom .divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: #2c3e50;
    border-radius: 1rem;
    border-color: #2c3e50;
  }
  .divider-custom .divider-custom-line:first-child {
    margin-right: 1rem;
  }
  .divider-custom .divider-custom-line:last-child {
    margin-left: 1rem;
  }
  .divider-custom .divider-custom-icon {
    color: #2c3e50;
    font-size: 2rem;
  }
  .divider-custom.divider-light .divider-custom-line {
    background-color: #fff;
  }
  .divider-custom.divider-light .divider-custom-icon {
    color: #fff;
  }
  .page-section {
    padding: 6rem 0;
  }
  .form-floating input.form-control,
.form-floating textarea.form-control {
  font-size: 1.5rem;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-radius: 0;
  border-width: 1px;
}
.form-floating input.form-control:focus,
.form-floating textarea.form-control:focus {
  box-shadow: none;
}
.form-floating label {
  font-size: 1.5rem;
  color: #6c757d;
}
  .footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #468b64;
    color: #fff;
}
.copyright {
    background-color: #0c4424;
    
}